html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    touch-action: none;
}

canvas {
    touch-action: none;
    background-color: cornflowerblue;
}
