html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    -ms-touch-action: none;
    touch-action: none;
}

canvas {
    -ms-touch-action: none;
    touch-action: none;
}