html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: KenPixelBlocks;
    src: url("../data/kenpixel_blocks.ttf");
}